<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body style="margin:auto ;width:50% ;padding: 40px;">
    <h1>About Page</h1>
    <p>Go to <a href="/">Home</a></p>
    <img src="https://pixabay.com/get/g355a6444d04dde26995e6ceaaf87db03fe8501b0d21fbe3e57bdb28a7b54482d106564ee8d612a271ca6b4bca320024e_640.jpg" />
    
</body>
</html>